{% macro content(url,name,score)%}
    <div class="contentDiv">
            <img src="{{url}}" alt="" width="115px" height="175px">
             <p>{{name}}</p>
            <p>{{score}}</p>
        </div>
    {% endmacro %}
    {% macro listContent(category,works,number) %}
        <div class="listContainer">
                <div class="titleDiv">
                    <span class="moduleName">{{category}}</span>
                    <a href="{{url_for('listPage',number=number)}}" class="moduleLink">更多</a>
                </div>
                {% for work in works[0:3]%}
                    {{content(work.url,work.name,work.score)}}
                {% endfor %}
        </div>
    {% endmacro %}