<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GYYIfAndFor</title>
    </head>
    <body>
        <p>首先是if语句</p>
        <p>
            {% if name=='gyy' %}
                <p>名字正确，你就是gyy</p>
            {% elif name=='gyy2' %}
                <p>名字稍微正确，不是gyy2，而是gyy</p>
            {% else %}
                <p>名字错误</p>
            {% endif %}
        </p>
        <p>
            <ul>
                <li>这是无序排列，所以前面是小原地</li>
                <li>这不是循环语句</li>
                <li>这真不是循环语句</li>
                <li>这真的真的不是循环语句</li>
            </ul>
            <ol>
                <li>这是有序排列，所以前面是序号</li>
                <li>这不是循环语句</li>
                <li>这真不是循环语句</li>
                <li>这真的真的不是循环语句</li>
            </ol>
        </p>
        <p>下面开始for循环</p>
        <ol>
            {% for user in users%}
                <li>{{user}}</li>
            {% endfor %}
        </ol>
        <ul>
            {% for user in users0%}
                <li>{{ user }}</li>
            {%else%}
                <li>当for循环遍历的结果为空时，就自动执行else语句块的代码</li>
            {%endfor%}
        </ul>
        <ul>
            {% for key,value in message.items() %}
            {# 这里如果是message.keys()，那么就只能遍历键，如果是message.values()，那么就只能遍历值#}
                <li>{{key}}+{{value}}</li>
            {% endfor %}
        </ul>
        <table>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>书名</th>
                    <th>评价</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books.values() %}
                    {% if loop.first %}
                        <tr style="background:blue">
                    {% elif loop.last %}
                        <tr style="background: cadetblue">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ loop.index }}</td>
                        <td>{{ book.name }}</td>
                        <td>{{ book.comment }}</td>
                        <td>{{ book.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>下面是一个九九乘法表</p>
        <table border="1">
            <tbody>
                {% for x in range(1,10) %}
                {# range(1,10)和python中一样，表示从1-9，range(1,10)取前面不取后面#}
                    <tr>
                        {% for y in range(1,x+1) %}
                        {# 也可以for y in range(1,10) if y<=x 这样同时限定两个条件#}
                            <th>{{x}}*{{y}}={{x*y}}</th>
                        {%endfor%}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>